*{
    margin:0;
    padding: 0;
}

body{
    width: 1200px;
    margin: auto;
}

h1{
    text-align: center;
}

h3{
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    background: #f5f3f3;
}

h4{
    height: 40px;
    line-height: 40px;
    padding-left: 38px;
}

#header{
    margin-top: 10px;
    width: 1200px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #d2cbcb;
    border-radius: 8px;
}

#header .sub{
    float: left;
    padding-right: 250px;
    padding-left: 20px;
}

.sub h2{
    float: left;
}

.sub p{
    float: left;
    background: white;
}

#column{
    width: 1200px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    border: 1px solid #d2cbcb;
    border-radius: 8px;
}

#column input{
    width: 150px;
    border-radius: 8px;
    height: 30px;
}

#column h2{
    float: left;
    margin-right: 45px;
    padding-left: 20px;
}

#first{
    height: 240px;
    border: 1px solid #d2cbcb;
    border-radius: 8px;
    margin-top: 20px;
}

#first h3{
    background: #f5f3f3;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}

#first h4{
    padding-left: 38px;
    height: 40px;
    line-height: 40px;
}

#first input{
    border-radius: 8px;
    height: 30px;
    width: 180px;
    margin-left: 50px;
}

#second{
    height: 360px;
    border: 1px solid #d2cbcb;
    border-radius: 8px;
    margin-top: 20px;
}

#second h3{
    background: #f5f3f3;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}

#second input{
    margin-left: 50px;
}

#third{
    height: 360px;
    border: 1px solid #d2cbcb;
    margin-top: 20px;
    border-radius: 8px;
}

#third input{
    margin-left: 50px;
}

#four{
    height: 200px;
    margin-top: 20px;
    border: 1px solid #d2cbcb;
    border-radius: 8px;
}

#four .ture{
    position:relative ;
    top: -30px;
    left: 500px;
}

#five{
    height: 240px;
    margin-top: 20px;
    border: 1px solid #d2cbcb;
    border-radius: 8px;
}

#five textarea{
    width: 1120px;
    margin-left: 50px;
    border-radius: 8px;
}

footer{
    width: 1200px;
}

button{
    background: blue;
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
}

