*{
    margin:0;
    padding: 0;
}

body{
    width: 1200px;
    margin: auto;
}

h1{
    text-align: center;
}

#header{
    margin-top: 10px;
    width: 1200px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #d2cbcb;
    border-radius: 8px;
}

#header .sub{
    float: left;
    padding-right: 260px;
    padding-left: 20px;
}

.sub h3{
    float: left;
}

.sub p{
    float: left;
}

#column{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    border: 1px solid #d2cbcb;
    border-radius: 8px;
}

#column input{
    width: 150px;
    border-radius: 8px;
}

#column h3{
    float: left;
    margin-right: 100px;
    padding-left: 20px;
}

#first{
    height: 240px;
    border: 1px solid #d2cbcb;
    border-radius: 8px;
    margin-top: 20px;
}

#first h3{
    background: #f5f3f3;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}

#first h4{
    padding-left: 38px;
    height: 40px;
    line-height: 40px;
}

#first input{
    border-radius: 8px;
    height: 30px;
    width: 180px;
    margin-left: 50px;
}

#second 